<!doctype html>
<html>
    <head>
        <title>Landing</title>
        <link href="/css/main.css" rel="stylesheet">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{> woopra}}
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
              <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="collapse navbar-collapse navHeaderCollapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" class="menu-btn" style="text-align: center">About</a></li>
                    <li><a href="/profile" class="menu-btn"style="text-align: center">Profile</a></li>
                </ul>  
              </div>
            </div>
        </nav>

        <div class="page-header">
            <div class="container">
                <div class="row">  
                    <div class="col-sm-3">
                        <h1>Lets go!</h1>
                    </div>  
                </div>
                  <h3 style="text-align: center;">Do any of these sound good to you? If not, make your own event!</h3>

            </div>
        </div>

        {{#each restaurantInfo}}
        {{#if numLeft}}
            <!-- <div class="container">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="container">
                            <div class="row">
                                <div class="panel-title" id="{{id}}">
                                  <span class="col-sm-4 col-xs-4">{{restaurant}}</span>
                                  <span class="col-sm-4 col-xs-4 seat_num">Seats left: {{numLeft}}</span>
                                  <button type="submit" class="btn btn-primary delete-important-data">Wanna go?</button>
                                  <a href="#" type="submit" style="display:none;" class="delete-data-conf btn btn-primary">Sure?</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4 col-xs-4">Leaves at: </div>
                                <div class="col-sm-4 col-xs-4">Returns at: </div>
                                <div class="col-sm-4 col-xs-4">Leaves from: </div>
                                <div class="col-sm-4 col-xs-4">{{time_l}}</div>
                                <div class="col-sm-4 col-xs-4">{{time_r}}</div>
                                <div class="col-sm-4 col-xs-4">{{meeting_place}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="container">
              <!-- <div class="row"> -->
                <div class="panel panel-default event">
                  <div class="panel-body">
                    <div class="rsvp col-xs-2 col-sm-2" style="padding-bottom: 30px">
                      <i>Leaves at</i>
                      <i>{{time_l}}</i>
                      <i>Returns at</i>
                      <i>{{time_r}}</i>
                    </div>

                    <div class="info col-xs-8 col-sm-7" style="text-align:center; padding-top:7px">
                      {{restaurant}}
                      <div class="visible-xs visible-sm visible-md visible-lg" style="text-align:center; padding-bottom:5px"><h5>{{numLeft}} spot(s) left</h5></div>
                    </div>

                    <div class="author col-xs-2 col-sm-3" id="{{id}}" style="padding-top: 20px">
                      <a href="#" type="submit" class="delete-important-data link">Wanna Go?</a>
                      <a href="#" type="submit" style="display:none;" class="delete-data-conf" style="paddingp-top:6px">Sure?</a>
                    </div>
                  </div>
                </div>
             <!--  </div> -->
            </div>
        {{/if}}
        {{/each}}
        <div class="container">
                    <h4 style="text-align: center;">Don't see what you want?</h4>
                    <h3 style="text-align: center;"><a href="#" data-toggle="modal" data-target="#event-modal"><span class="label label-info">Add your own listing!</span></a></h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-xs-3"></div>
                <div class="col-sm-6 col-xs-6">
                    <div class="modal fade" id="event-modal" tabindex="-1" role="dialog" aria-labelledby="eventModal" aria-hidden="true">
                          <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Create a listing!</h4>
                              </div>
                                <form id="addListingForm" role="form" method="get" action="/add_listing">
                                  <div class="modal-body">

                                      <div class="form-group">
                                        <label for="userName">What do you want people to know you as?</label>
                                        <input type="text" class="form-control" id="userName" name="user_name">
                                      </div>
                                      <div class="form-group">
                                        <label for="leader_phone">What number should people use to contact you?</label>
                                        <input type="text" class="form-control" id="leaPhone" name="lea_phone">
                                      </div>

                                      <div class="form-group">
                                        <label for="resName">Restaurant Name</label>
                                        <input type="text" class="form-control" id="resName" name="res_name">
                                      </div>

                                      <div class="form-group">
                                        <label for="num">Max number of passengers</label>
                                        <input type="text" class="form-control" id="num" name="passenger_num">
                                      </div>

                                      <div class="form-group">
                                        <label for="where">Where do you want to meet?</label>
                                        <input type="text" class="form-control" id="where" name="where">
                                      </div>

                                      <div class="form-group">
                                        <label for="timeL">Leaving time: </label>
                                        <input type="text" class="form-control" name="timeL"/>
                                      </div>

                                      <div class="form-group">
                                        <label for="timeR">Returning time: </label>
                                        <input type="text" class="form-control" name="timeR">
                                      </div>
                                      <!-- <div class="form-group">
                                        <input type="hidden" class="form-control" name="id" value=""> -->
                                      </div>

                                    <div class="modal-footer">
                                     <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                  </div>
                                  
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-3"></div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="/js/myscripts.js"></script>
        <script src="/js/landing.js"></script>
    </body>
</html>