<!DOCTYPE html>
<html lang="en">
    <head>
         <link href="/css/main.css" rel="stylesheet">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/pushy.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
              <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="collapse navbar-collapse navHeaderCollapse">
                <ul class="nav navbar-nav navbar-right">
                    <li style="text-align: center"><a href="/landing" class="menu-btn">Listings</a></li>
                    <li style="text-align: center"><a href="#" class="menu-btn">About</a></li>
                </ul>  
              </div>
            </div>
        </nav>
        <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Edit Profile Information</h4>
                      </div>
                      <div class="modal-body">
                        <form role="form" action="/profile" method="post">
                          <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="name" class="form-control" id="name" name="name1">
                          </div>
                          <div class="form-group">
                            <label for="email">Email address:</label>
                            <input type="email" class="form-control" id="email" name="email">
                          </div>
                          <div class="form-group">
                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" id="pwd">
                          </div>
                          <div class="form-group">
                            <label for="phone">Phone Number:</label>
                            <input type="text" class="form-control bfh-phone" data-format="+1 (ddd) ddd-dddd" data-country="US" id="text" id="number" name="number">
                          </div>
                          <input type="submit">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        <div class="container">
            <div class="row">
                {{#unless userInfo}}
                <div class="page-header">
                    <div class="row">
                        <h1 style="text-align:center">No User Information <i class="fa fa-user-times"></i></h1>
                    </div>
                    <div class="row">
<!--                         <div class="col-xs-3 col-md-3"></div>
                        <div class="col-xs-4 col-md-6"> -->
                            <h3 style="text-align: center"><a href="#" data-toggle="modal" data-target="#edit-modal"><span class="label label-info">Add your information</span></a></h3>
<!--                         </div>
                        <div class="col-xs-3 col-md-3"></div> -->
                    </div>
                </div>
                {{/unless}}

                {{#if userInfo}}
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
                  <div class="panel panel-info">
                    <div class="panel-heading">
                      <h3 class="panel-title">{{userInfo.name}}</h3>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" class="img-circle"> </div>
                        <div class=" col-md-9 col-lg-9 "> 
                          <table class="table table-user-information">
                            <tbody>
                              <tr>
                                <td>Email</td>
                                <td><a href="mailto:{{userInfo.email}}">{{userInfo.email}}</a></td>
                              </tr>
                              <tr>
                                <td>Phone number:</td>
                                <td>{{userInfo.phone}}</td>
                              </tr>
                              <tr>
                                <td>Password:</td>
                                <td>***********</td>
                              </tr>
                            </tbody>
                          </table>
                          
                          <h3 style="text-align: center"><a href="#" data-toggle="modal" data-target="#edit-modal"><span class="label label-info">Edit Profile Information</span></a></h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {{/if}}
            </div>
            <div class="row">  

                {{#unless restaurantInfo}}
                {{#unless userListings}}
                {{#unless userInfo}}
                <div class="page-header">
                    <div class="row">
                        <h1 style="text-align:center">You're not eating anywhere <i class="fa fa-meh-o"></i></h1>
                    </div>
                    <div class="row">
<!--                         <div class="col-xs-3 col-md-3"></div>
                        <div class="col-xs-4 col-md-6"> -->
                            <h3 style="text-align: center"><a href="/landing">Hungry? <i class="fa fa-smile-o"></i></a></h3>
<!--                         </div>
                        <div class="col-xs-3 col-md-3"></div> -->
                    </div>
                </div>
                {{/unless}}
                {{/unless}}
                {{/unless}}
            </div>

            {{#if userListings}}
            <h3 style="text-align: center">Events you've created</h3>
            {{#each userListings}}
            <div class="container">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="container">
                            <div class="row">
                                <div class="panel-title" id="{{id}}">
                                  <span class="col-sm-4 col-xs-4">{{restaurant}}</span>
                                  <span class="col-sm-4 col-xs-4 seat_num">Seats left: {{numLeft}}</span>
        <!--                           <button type="submit" class="btn btn-primary editListing">Wanna go?</button>
                                  <a href="/enque/{{id}}" type="submit" style="display:none;" class="delete-data-conf btn btn-primary">Sure?</a>
                                  <a href="#" type="submit" style="display:none;" class="delete-data-conf btn btn-primary">Sure?</a> -->

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4 col-xs-4">Leaves at: </div>
                                <div class="col-sm-4 col-xs-4">Returns at: </div>
                                <div class="col-sm-4 col-xs-4">Leaves from: </div>
                                <div class="col-sm-4 col-xs-4">{{time_l}}</div>
                                <div class="col-sm-4 col-xs-4">{{time_r}}</div>
                                <div class="col-sm-4 col-xs-4">{{meeting_place}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            {{/if}}

            {{#if restaurantInfo}}
            <h3 style="text-align: center">Events you're going to</h3>
            {{#each restaurantInfo}}
            <div class="container">
              <div class="row">
                <div class="panel panel-default event">
                  <div class="panel-body">
                    <div class="rsvp col-xs-2 col-sm-2">
                      <i>Leaves at</i>
                      <i>{{time_l}}</i>
                      <i>Returns at</i>
                      <i>{{time_r}}</i>
                    </div>
                    <div class="info col-xs-8 col-sm-7">
                      {{restaurant}}
                      <div class="visible-xs visible-sm visible-md visible-lg">Contact {{leader}} at {{leader_phone}} for information. </div>
                    </div>
                    <div class="author col-xs-2 col-sm-3">
                      <a href="#" type="submit" class="delete-important-data link">Change your mind?</a>
                      <a href="/deque/{{id}}" type="submit" style="display:none;" class="delete-data-conf">Are you sure?</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}
            {{/if}}

                
                <!-- {{#if restaurantInfo}}
                <h3 style="text-align:center">Events you're attending</h3>
                {{#each restaurantInfo}}
                
                <div class="container">
                    <div class="row" style="margin-top: 10px">
                        <div class="col-xs-2 col-sm-3"></div>
                        <div class="col-xs-8 col-sm-6">
                             <ul class="list-group">
                              <li class="list-group-item"><h5>Restaurant: <span class="text-right">{{restaurant}}</span> </h5></li>
                              <li class="list-group-item">When you're leaving: {{time_l}}</li>
                              <li class="list-group-item">When you're coming back: {{time_r}} </li>
                              <li class="list-group-item">Event creator: {{leader}}</li>
                              <li class="list-group-item">Event contact: {{leader_phone}}</li>
                            </ul>
                        </div>
                        <div class="col-xs-2 col-sm-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-sm-5"></div>
                        <div class="col-xs-6 col-sm-2">
                            <button type="submit" class="btn btn-primary delete-important-data">Don't want to go anymore?</button>
                            <a href="/deque/{{id}}" type="submit" style="display:none;" class="delete-data-conf btn btn-primary">Sure?</a>
                        </div>
                        <div class="col-xs-3 col-sm-5"></div> 
                    </div>
                </div>
                {{/each}} 
                {{/if}}
                {{#unless restaurantInfo}}
                    <p> You haven't signed up for any events. </p>
                {{/unless}}

                {{#if userListings}}
                {{#each userListings}}

                {{/each}}
                {{/if}} -->


                
                

        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="/js/myscripts.js"></script>
        <script src="/js/deque.js"></script>
    </body>
</html>