<!DOCTYPE html>
<html lang="en">
    <head>
         <link href="/css/main.css" rel="stylesheet">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/pushy.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
              <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="collapse navbar-collapse navHeaderCollapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/landing" class="menu-btn">Listings</a></li>
                    <li><a href="#" class="menu-btn">About</a></li>
                </ul>  
              </div>
            </div>
        </nav>

        <div class="page-header">
            <div class="container">
                <div class="row">  
                    <div class="col-sm-3">
                        <h1>Profile</h1>
                    </div>  
                </div>
            </div>
        </div>

      
        {{#if restaurantInfo}}
        <h3 style="text-align:center">Your Listings:</h3>
        <div class="container">
              {{#each restaurantInfo}}
                
                <div class="well">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3"><p>restaurant:</p></div>
                        <div class="col-sm-3 col-xs-3"></div>
                        <div class="col-sm-3 col-xs-3"><p>{{restaurant}}</p></div>
                        <div class="col-sm-3 col-xs-3"><p>When you're leaving:</p></div>
                        <div class="col-sm-3 col-xs-3"></div>
                        <div class="col-sm-3 col-xs-3"><p>{{time_l}}</p></div>
                        <div class="col-sm-3 col-xs-3"><p>When you're coming back:</p></div>
                        <div class="col-sm-3 col-xs-3"></div>
                        <div class="col-sm-3 col-xs-3"><p>{{time_r}}</p></div>
                        <div class="col-sm-3 col-xs-3"><p>Who's taking you?:</p></div>
                        <div class="col-sm-3 col-xs-3"></div>
                        <div class="col-sm-3 col-xs-3"><p>{{leader}}</p></div>
                        <div class="col-sm-3 col-xs-3"><p>Need to call him?:</p></div>
                        <div class="col-sm-3 col-xs-3"></div>
                        <div class="col-sm-3 col-xs-3"><p>{{leader_phone}}</p></div>
                    </div>
                </div>    
                
              {{/each}}            
        </div>
        {{/if}}

        {{#if userInfo}}
        {{#each userInfo}} 
        <h3 style="text-align:center"> Your Information: </h3>
        <div class="container">
                <div class="well">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3"><p>Name:</p></div>
                        <div class="col-sm-3 col-xs-3"></div>
                        <div class="col-sm-3 col-xs-3"><p>{{name}}</p></div>
                    </div>
                </div>  
                <div class="well">
                    <div class="row">
                        <div class="col-sm-6 col-xs-6"><p>Email:</p></div>
                        <div class="col-sm-3 col-xs-3"><p>{{email}}</p></div>
                    </div>
                </div>      
                <div class="well">
                    <div class="row">
                        <div class="col-sm-6 col-xs-6"><p>Phone number:</p></div>
                        <div class="col-sm-3 col-xs-3"><p>{{phone}}</p></div>
                    </div>
                </div>               
        </div>
        {{/each}}
        {{/if}}

        
        <div class="container">
<!--             <div class="row">
                <div class="col-sm-3 col-xs-3"></div> -->
                    <h3><a href="#" data-toggle="modal" data-target="#edit-modal"><span class="label label-info">Edit</span></a></h3>
<!--                 </div>
            </div> -->
        </div>
        <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Profile Information</h4>
                  </div>
                  <div class="modal-body">
                    <form role="form" action="/profile" method="post">
                      <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="name" class="form-control" id="name" name="name1">
                      </div>
                      <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" class="form-control" id="email" name="email">
                      </div>
                      <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="pwd">
                      </div>
                      <div class="form-group">
                        <label for="phone">Phone Number:</label>
                        <input type="text" class="form-control bfh-phone" data-format="+1 (ddd) ddd-dddd" data-country="US" id="text" name="number">
                      </div>
                      <input type="submit">
                    </form>
                  </div>
                </div>
              </div>
            </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="/js/myscripts.js"></script>
    </body>
</html>